body {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  color: #6f7287;
  margin: 1rem 1rem 1rem 0;
  text-align: left;
  width: 20%;
}

.card img {
  width: 100%;
}

.card h2 {
  color: #39364f;
  font-size: 1rem;
  margin: 0;
}

.card .date {
  color: #f05537;
  font-weight: 700;
}

.card div {
  padding: 1.2rem 0.8rem;
}


.search {
  padding: 0.5rem;
  text-align: center;
}

.search input {
  border: 1px solid rgba(204, 204, 204, 0.6);
  border-radius: 0.05rem;
  font-size: 0.8em;
  outline: none;
  padding: 0.8em;
  width: 20rem;
}

table {
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

thead {
  background-color: #293a7d;
  color: #fff;
  font-weight: bold;
}

thead th, 
tbody td {
  padding: 0.05rem 0.5rem;
}

.pagination {
  font-size: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}